*{
    /* cursor: url("/images/magicWand1.png"), pointer;  */
  
}
html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
} 

body{
margin: 0;

background-image: url("/images/pondback.png");
background-repeat: no-repeat;
background-size: auto 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}

/* 
.pad{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 240px;
    margin-left: 40px;
   
    
} */

/* .main{
    z-index:0;
}

#canvas{
    border:  solid rgb(0, 183, 255);
    z-index: -3;
} */
.instructions{
    width: 200px;
    position: absolute;
    right: 100px;
    bottom: 500px;
    border: white solid;
   background-color: white;
   background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.instructions h1{
    color: grey;
}
input{
    position: absolute;
    right: 130px;
    bottom: 400px;
   width: 200px;
   height: 100px;
}

 .container{
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    /* border: 5px red solid; */
    flex-wrap: wrap;
} 

.lilyPad {
    width:150px;
    height:165px;
    background-image: url(../images/lilyPad.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#score{
font-size: 50px;
color: blue;
font-weight: bold;
}
/* .frogy{
   width: 90px;
   height: 90px;
  
   
 }
.pad{
   
    position: relative;
   bottom: 480px;
    left: 40px;
 

}
.pad td{
   padding: 10px;

   
}
.row1{
    position: relative;
  
    
  
}
.row2{
    position: relative;
    
    
} 
.row3{
    position: relative;
   
    
}  */